{% extends 'base.html.twig' %}

{% block title %}
    <h1>BooKing:</h1>
{% endblock title %}

{% block body %}
    

<div class="container">
  	<div class="col-md-6">
    	<div class="card" id="book">
      		<div class="container">
      			<h1>Book unique places to stay and things to do.</h1>
        		<p>WHERE</p>
          			<input type="text"><br>
          			<ul></ul>
            	<div class="row">
              		<div class="col-sm">
                		<p>CHECK-IN</p>
                  		<input type="text">
             		</div>
              		<div class="col-sm">
                		<p>CHECKOUT</p>
                	<input type="text">
              	</div>
            </div>
      	<p>GUESTS</p>
        <input type="text">
        <button id="search" type="button" class="btn btn-danger float-right">Search</button>
    </div>    
  </div>
</div>
  </div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Coded by:
    <a href="https://github.com/nick094">Nikola Lukic</a>
  </div>
  <!-- Copyright -->

</footer>
    

{% endblock body %}

