{% extends 'base.html.twig' %}

{% block title %}
    <h1>New Event:</h1>
{% endblock title %}

{% block body %}
	{% if form is defined %}
	    {{ form_start(form) }}
	    {{ form_widget(form) }}
	    {{ form_end(form) }}
	{% endif %}
{% endblock body %}    