{% extends 'base.html.twig' %}

{% block title %}
    <h1>BooKing:</h1>
{% endblock title %}

{% block body %}
    <h1>{{ event.name }}</h1>
    <p>{{ event.description }}</p>
    <hr>
    <a href="/">Go back</a>
    

{% block body %}    